* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #FFFFFF;
    background-color: #1c1b22;
}

.section {
    padding: 100px;
    height: auto;
    min-height: 100vh; /* Simulate different sections */
    background-color: #1c1b22;
    margin: auto;
    width: 60%;
}
