* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.section {
    padding: 100px;
    height: auto;
    min-height: 100vh; /* Simulate different sections */
    background-color: #1c1b22;
    align="center";
}
