* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Halant', serif;
    font-weight: 200;
    color: #FFFFFF;
    background-color: #1c1b22;
}

.icon {
    float: left;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right:15px;
}

.section {
    position: absolute;
    padding-top: 100px;
    height: auto;
    min-height: 100vh; /* Simulate different sections */
    background-color: #1c1b22;
    margin: auto;
    width: 60%;
}
